body{
    height: 5000px;
    width: 100%;
    background-color: rgb(21, 21, 21);
}

.main{
    height: 500px;
    width: 100%;
}

.image{
    position: absolute;
    height: 750px;
    width: 100%;
    
}

.image1{
    position: absolute;
    height: 750px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

.nav{
    
    position: absolute;    
}

.heading{
    color: whitesmoke;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    position: absolute;  
}

.nav2{
    margin-left: -50px;
}

ul{
    margin-top: 40px;
    margin-left: 400px;
    color: red;
    display: flex;  
    list-style: none;
}

li{
    font-size: 18px;
    margin-left: 20px;
    color: red;
    text-decoration: none;

}

a{
   text-decoration: none;   
  color: whitesmoke;
}

select{
    font-size: 18px;
    margin-left: 20px;
    color: whitesmoke;
    border: none;
    background-color: transparent;  
    
}

option{
    color: black;
    background-color: whitesmoke
    
}

p{
    color: whitesmoke;
    position: absolute;
    margin-left: 1100px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;

}

.heading1{
    position: absolute;
    color: whitesmoke;
    margin-left: 750px;
    margin-top: 200px;
    font-size: 50px;
}

.para1{
    position: absolute;
    color: whitesmoke;
    margin-left: 750px;
    margin-top: 430px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.button1{
    position: absolute;
    margin-left: 750px;
    margin-top: 520px;
    height: 55px;
    width: 170px;
    border-radius: 5px;
    color: white;
    background-color: #037ef3;;
}

.button2{
    position: absolute;
    margin-left: 920px;
    margin-top: 520px;
    height: 55px;
    width: 150px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0);
    color: white;
    border: 1px solid white;
    
}


.main2>h1{
  color: white;
  position: absolute;
  margin-top: 140vh;
  font-family: cursive;
  margin-left: 100px;
  font-size: 50px;
}

.para2{
    color: gray;
    position: absolute;
    margin-left: 100px;
    margin-top: 160vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 20px;
}

.para3{
    color: gray;
    position: absolute;
    margin-left: 100px;
    margin-top: 178vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 20px;
}

.image2{
    position: absolute;
    margin-top: 128vh;
    margin-left: 700px;
    width: 550px;
}

.image3{
    position: absolute;
    margin-top: 128vh;
    margin-left: 700px;
    width: 550px;
    background-color: aqua;
}

.main3{
    background-color: rgb(39, 37, 37);
    height: 800px;
    width: 100%;
    position: absolute;
    margin-top: 240vh; 
}

.main3>h1{
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
    margin-top: 70px;
}

.png1{
    height: 80px;
    margin-left: 80px;
}

.mini1{
    color: white;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.minipara1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    font-size: 14px;
    color: gray;
    line-height: 20px;
    margin-top: -10px;
}

.div2{
    margin-top: 200px;
    
}


.png2{
    height: 80px;
    margin-left: 80px;
}


.mini2{
    color: white;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.minipara2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    font-size: 14px;
    color: gray;
    line-height: 20px;
    margin-top: -10px;
}



.div3{
    margin-top: 200px;
    margin-left: 400px;
    margin-top: -76vh;
    
}


.png3{
    height: 80px;
    margin-left: 80px;
}


.mini3{
    color: white;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.minipara3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    font-size: 14px;
    color: gray;
    line-height: 20px;
    margin-top: -10px;
}



.div4{
    margin-top: 200px;
    margin-left: 400px;
    
}


.png4{
    height: 80px;
    margin-left: 80px;
}


.mini4{
    color: white;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.minipara4{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    font-size: 14px;
    color: gray;
    line-height: 20px;
    margin-top: -10px;
}





.div5{
    margin-top: 200px;
    margin-left: 800px;
    margin-top: -76vh;
    
}


.png5{
    height: 80px;
    margin-left: 80px;
}


.mini5{
    color: white;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.minipara5{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    font-size: 14px;
    color: gray;
    line-height: 20px;
    margin-top: -10px;
}



.div6{
    margin-top: 200px;
    margin-left: 800px;
    
}


.png6{
    height: 80px;
    margin-left: 80px;
}


.mini6{
    color: white;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.minipara6{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    font-size: 14px;
    color: gray;
    line-height: 20px;
    margin-top: -10px;
}



.main4{
    margin-top: 300px;
}

.main4>h1{
    color: white;
    font-size: 50px;
    margin-left: 100px;
}

.image4{
    height: 350px;
    width: 45%;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 5px;
}

.main4>h2{
    color: white;
    font-size: 30px;
    margin-left: 130vh;
    margin-top: -48vh;
}


.main4>p{
    color: white;
    font-size: 15px;
    margin-left: 130vh;
    margin-top: -1vh;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.main4>button{
    background-color: #037ef3;
    margin-left: 130vh;
    margin-top: 150px;
    height: 60px;
    width: 150px;
    color: white;
    border-radius: 10px;
}